################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCore/.vs/AlgoniaCsAlgos
/NetCore/ImageDownloader/ImageDownloaderAlgo/.vs/ImageDownloaderAlgo/DesignTimeBuild
/NetCore/ImageDownloader/ImageDownloaderAlgo/bin
/NetCore/ImageDownloader/ImageDownloaderAlgo/obj
/NetCore/ImageDownloader/ImageDownloaderDebug/bin
/NetCore/ImageDownloader/ImageDownloaderDebug/obj
/NetCore/ObjectDetection/ObjectDetectionAlgo/bin/Debug/netcoreapp3.1/win-x64
/NetCore/ObjectDetection/ObjectDetectionAlgo/obj
/NetCore/ObjectDetection/ObjectDetectionDebug/obj
/NetCore/ObjectDetection/ObjectDetectionDebug/bin/Debug/netcoreapp3.1
